<p>Hello, you just sign up to Schedule TV Shows site.</p>
<p>For confirm your registration you must follow this <a href="https://scheduletvshows.org/validate?token=<%= token %>">link</a>.</p>
<p>If you can click to the link you can copy/paste this url : https://scheduletvshows.org/validate?token=<%= token %></p>
<p>Thanks to use Schedule TV Shows</p>